@page "/inidata"

@attribute [Authorize]
@using DpeZak.Database.Models
<PageTitle>INI Daten</PageTitle>

<div class="form-row">
    <RadzenLabel Text="Anwendung" Style="margin-right: 8px; vertical-align: middle;" />
    <RadzenTextBox class="col-md-2" ReadOnly="true" Name="Anwe" @bind-Value="Ini.Anwe" />

    <RadzenLabel Text="Maschine" Style="margin-left: 8px; margin-right: 8px; vertical-align: middle;" />
    <RadzenTextBox class="col-md-2" ReadOnly="true" Name="Maschine" @bind-Value="Ini.Maschine" />

    <RadzenLabel Text="User" Style="margin-left: 8px; margin-right: 8px; vertical-align: middle;" />
    <RadzenTextBox class="col-md-2" ReadOnly="true" Name="User" @bind-Value="Ini.User" />
</div>


<RadzenTabs TabPosition="@tabPosition" Class="w-100 my-2" RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="Section Liste" Style="text-transform: none;">
            <RadzenDataGrid AllowFiltering="true"
                            AllowColumnResize="true"
                            AllowAlternatingRows="false"
                            FilterMode="FilterMode.Advanced"
                            AllowSorting="true"
                            PageSize="15"
                            AllowPaging="true"
                            PageSizeOptions="@pageSizeOptions"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat"
                            SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedList
                            Density="@Density"
                            Data="@iniSet"
                            TItem="INITIALISIERUNGEN"
                            ColumnWidth="300px"
                            LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="SECTION" Title="SECTION" Width="160px" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="TYP" Title="TYP" Width="160px" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Anwendung">
            <RadzenDataGrid @ref="anweGrid"
                            AllowFiltering="true"
                            AllowColumnResize="true"
                            AllowAlternatingRows="false"
                            FilterMode="FilterMode.Advanced"
                            AllowSorting="true"
                            PageSize="15"
                            AllowPaging="true"
                            PageSizeOptions="@pageSizeOptions"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat"
                            SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedList
                            Density="@Density"
                            Data="@AnweSet"
                            TItem="INITIALISIERUNGEN"
                            ColumnWidth="300px"
                            LogicalFilterOperator="LogicalFilterOperator.Or"
                            AllowGrouping="true" HideGroupedColumn="true" @bind-AllGroupsExpanded="@allGroupsExpanded" Group="@OnGroup">
                <Columns>
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="SECTION" Title="SECTION" Width="160px" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="PARAM" Title="PARAM" Width="160px" Groupable="false" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="WERT" Title="WERT" Width="160px" Groupable="false" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Maschine">
            <RadzenDataGrid @ref="maschineGrid"
                            AllowFiltering="true"
                            AllowColumnResize="true"
                            AllowAlternatingRows="false"
                            FilterMode="FilterMode.Advanced"
                            AllowSorting="true"
                            PageSize="15"
                            AllowPaging="true"
                            PageSizeOptions="@pageSizeOptions"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat"
                            SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedList
                            Density="@Density"
                            Data="@MaschineSet"
                            TItem="INITIALISIERUNGEN"
                            ColumnWidth="300px"
                            LogicalFilterOperator="LogicalFilterOperator.Or"
                            AllowGrouping="true" HideGroupedColumn="true" @bind-AllGroupsExpanded="@allGroupsExpanded" Group="@OnGroup">
                <Columns>
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="SECTION" Title="SECTION" Width="160px" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="PARAM" Title="PARAM" Width="160px" Groupable="false" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="WERT" Title="WERT" Width="160px" Groupable="false" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="User">
            <RadzenDataGrid @ref="userGrid"
                            AllowFiltering="true"
                            AllowColumnResize="true"
                            AllowAlternatingRows="false"
                            FilterMode="FilterMode.Advanced"
                            AllowSorting="true"
                            PageSize="15"
                            AllowPaging="true"
                            PageSizeOptions="@pageSizeOptions"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat"
                            SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedList
                            Density="@Density"
                            Data="@UserSet"
                            TItem="INITIALISIERUNGEN"
                            ColumnWidth="300px"
                            LogicalFilterOperator="LogicalFilterOperator.Or"
                            AllowGrouping="true" HideGroupedColumn="true" @bind-AllGroupsExpanded="@allGroupsExpanded" Group="@OnGroup">
                <Columns>
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="SECTION" Title="SECTION" Width="160px" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="PARAM" Title="PARAM" Width="160px" Groupable="false" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="WERT" Title="WERT" Width="160px" Groupable="false" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Vorgabe">
            <RadzenDataGrid @ref="vorgabeGrid"
                            AllowFiltering="true"
                            AllowColumnResize="true"
                            AllowAlternatingRows="false"
                            FilterMode="FilterMode.Advanced"
                            AllowSorting="true"
                            PageSize="15"
                            AllowPaging="true"
                            PageSizeOptions="@pageSizeOptions"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat"
                            SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedList
                            Density="@Density"
                            Data="@VorgabeSet"
                            TItem="INITIALISIERUNGEN"
                            ColumnWidth="300px"
                            LogicalFilterOperator="LogicalFilterOperator.Or"
                            AllowGrouping="true" HideGroupedColumn="true" @bind-AllGroupsExpanded="@allGroupsExpanded" Group="@OnGroup">
                <Columns>
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="SECTION" Title="SECTION" Width="160px" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="PARAM" Title="PARAM" Width="160px" Groupable="false" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="WERT" Title="WERT" Width="160px" Groupable="false" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Werkparameter">
            <RadzenDataGrid @ref="werkparameterGrid"
                            AllowFiltering="true"
                            AllowColumnResize="true"
                            AllowAlternatingRows="false"
                            FilterMode="FilterMode.Advanced"
                            AllowSorting="true"
                            PageSize="15"
                            AllowPaging="true"
                            PageSizeOptions="@pageSizeOptions"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat"
                            SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedList
                            Density="@Density"
                            Data="@WerkparameterSet"
                            TItem="INITIALISIERUNGEN"
                            ColumnWidth="300px"
                            LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="PARAM" Title="PARAM" Width="90px" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="WERT" Title="WERT" Width="90px" />
                    <RadzenDataGridColumn TItem="INITIALISIERUNGEN" Property="BEMERKUNG" Title="BEMERKUNG" Width="500px" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>
